<html>
<head>
  <title>Express Files</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-screen h-screen bg-zinc-900 text-white p-10 font-[Gilroy-Semibold]">
  <header class="text-5xl text-center">
    Express Files
  </header>
  <main class="py-10 px-[400px]">
    <form action="/addFile" method="post" enctype="multipart/form-data" class="w-full flex gap-10 items-center justify-center">
      <input type="file" name="file" class="w-[400px] px-4 py-2 rounded-md outline-none block bg-zinc-800 text-white">
      <button type="submit" class="bg-blue-500 text-white text-2xl rounded-md px-4 py-2">Add File</button>
    </form>
    <div class="files">
      <div class="file"></div>
    </div>
  </main>
</body>
</html>