<html>
<head>
  <title>Express Files</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white p-10">
  <header class="text-5xl text-center">
    Express Files
  </header>
  <main>
    <form action="/add" method="post">
      <input type="text" placeholder="Enter filename"  class="block bg-zinc-800 text-white">
      <textarea type="text" placeholder="Write a description (Optional)" class="block bg-zinc-800 text-white"></textarea>
      <input type="file" class="block bg-zinc-800 text-white">
    </form>
  </main>
</body>
</html>